VITE_AWS_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_uUYWQeEHh
VITE_COGNITO_CLIENT_ID=31i3ilng2oiie73eu2nsj22nsm
VITE_COGNITO_DOMAIN=anna-chat-dev-anna-dev-42.auth.us-east-1.amazoncognito.com
VITE_API_ENDPOINT=https://7x2axrhwff.execute-api.us-east-1.amazonaws.com
